/*------------------------------------------------------------------------------
    MAIN  STYLES
------------------------------------------------------------------------------*/
html {
  height: 100%;
  overflow-y: scroll;
}

body {
    background: #1d2027;

}



#page-index a {
    text-decoration: none;
    outline: 0;
}

.text-center {
    text-align: center;
}



#text {
    color: black;
}


label {
    margin-left: 30px;
    font-weight: normal;
    color: black;
    font-size: 12px;
}

.no-padding-left {
    padding-left: 0px !important;
}

h2 {
    color: black;
    font-size: 20px;
    margin: 5px;
}


#messageAlert {
    display: none;
    color: red;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}

.top-navbar,
.footer {
    background-color: transparent;
    background: transparent;
    border-bottom: 0px solid black;
}

/*------------------------------------------------------------------------------
    ROWS
------------------------------------------------------------------------------*/

.dashboard-cards {
    width: 70%;
    margin: auto;
}

.row-header {
    height: 40px;
    margin-bottom: 0px;
}

.row-title {
    text-align: left;
    margin: 10px 0px;
}


.row-title h3 {
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin: 0px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.row-cards {
    width: 100%;
    padding: 0%;
    position: relative;
}

.row-error {
  height: 20px;
  color: red;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}


.col-125 {
    width: 12.5%;
    float: left;
}



/*------------------------------------------------------------------------------
    BUTTONS
------------------------------------------------------------------------------*/


.btn-card {
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: transparent;
    text-align: right;
    color: white;
    background-color: #262a33;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    position: relative;
    bottom: -10px;
}

.btn-card i {
    font-size: 16px;
}

.btn-card:hover, .btn-card:active, .btn-card:focus {
    background-color: #15181c;
}




/*------------------------------------------------------------------------------
    DASHBOARD CARDS
------------------------------------------------------------------------------*/


.card-transparent {
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-align: left;
    width: 100%;
    margin: auto;
    color: white;
    font-size: 16px;
    letter-spacing: 0.4px;

}

.card-data {
    background: #3e4452;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    height: 520px;
}

.card-data-left {
  margin-left: 0px;
}

.card-data .card-content {
    font-size: 1rem;
    text-align: left;
    color: white;
}

.card-data .card-content b {
    color: white;
    font-weight: normal;
}

.card-data .card-title {
    color: white;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    padding: 8px;

}


/*------------------------------------------------------------------------------
    EDIT & ADD FORMS + TABLE
------------------------------------------------------------------------------*/




input[type=text],
select,
textarea {
    width: 90%;
    height: 50px;
    padding: 12px;
    border-radius: 10px;
    border-color: #f2f2f2;
    box-sizing: border-box;
    margin: 0px 50px 0px 15px;
    resize: vertical;
    background-color: #f2f2f2;
    color: white;
}


input[type="text"],
input[type="number"] {
    text-align: center;
}

input[type="number"]:not(.browser-default):focus:not([readonly]),
input.invalid[type="number"]:not(.browser-default),
input.invalid[type="number"]:not(.browser-default):focus,
input.invalid[type="number"]:not(.browser-default) {
    border-bottom: 1px solid #c0c0c0;
    box-shadow: 0 1px 0 0 #c0c0c0;

}
input:not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="image"]):not([type="checkbox"]):not([type="radio"]) {
    color: white !important;
}


input[type="number"]:not(.browser-default) {
    height: 1.5rem;
    cursor:pointer;
    width: 80%;
}

/*------------------------------------------------------------------------------
    GRID
------------------------------------------------------------------------------*/

.card-grid {
    width: 520px;
    background: #262a33;
    background-image: url('../img/pathfinder/mars_surface.jpg');
    background-size: cover;
    margin:auto;
    border-radius: 10px;
    padding: 0px;
    height: 520px;
    margin-right: 20px;

}

.input-field {
    height: 32px;
}

.input-field .prefix {
    border-radius: 5px;
    width: 2rem;
    top: -0.5rem;
}

.tile {
   width: 59px;
   border-radius: 5px;
}

.tile-empty {
   width: 59px;
   background: transparent;
   padding: 0px;
   margin: 0px;
   border: 0px;
   opacity: 0.01;
}




/*------------------------------------------------------------------------------
    ANIMATIONS
------------------------------------------------------------------------------*/

.loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #8c8c8c;
  border-radius: 50%;
  margin-left: 45%;
  width: 20px;
  height: 20px;
  animation: spin 1.5s linear infinite;
  display: none;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}








/*------------------------------------------------------------------------------
    MEDIA QUERIES
------------------------------------------------------------------------------*/

/* MAX WIDTHS: MEDIUM SCREEN---------------------------------------------------*/

@media(max-width:1700px) {

    .dashboard-cards {
      width: 80%;
      margin: auto;
    }

    .row-title {
        width: 100%;
    }


    .row-cards {
        margin-top: 0px;
        width: 100%;
    }


}

@media(max-width:1700px) {

    .dashboard-cards {
      width: 98%;
      margin: auto;
    }

}


@media(max-width:993px) {

  .card-data  {
    width: 90%;
  }

  .card-data-left {
    margin-left: auto;
  }

  .card-grid {
    margin-right: auto;
  }

}


/* MAX WIDTHS: EXTRA-SMALL SCREEN---------------------------------------------*/

@media(max-width:600px) {

.card-transparent {
    font-size: 12px;
    letter-spacing: 0.4px;

}



}
